## used to remove files from deployment using `git archive`
# git files
.gitattributes export-ignore
.gitignore export-ignore

# dev files
make_release.py export-ignore
requirements.py export-ignore

# travis CI config
.travis.yml export-ignore