Source: repostat
Maintainer: Viktor Kopp <vifactor@gmail.com>
Section: vcs
Priority: optional
Build-Depends: dh-python, python3-setuptools, python3-all, debhelper (>= 10)
Standards-Version: 4.1.0
Homepage: https://github.com/vifactor/repostat

Package: repostat
Architecture: all
Depends: ${misc:Depends}, ${python3:Depends}
Description: Desktop git repository analyser and report creator.
 repostat is a fork of GitStats utility (by Heikki Hokkanen <hoxu@users.sf.net>)
 As its predecessor, it examines a git-repository and produces some interesting
 statistics from the history.
 Currently it supports HTML and CSV outputs.

