{% extends "base.html" %}

{% block content %}
<h2 id="recent_activity"><a href="#recent_activity">Recent activity</a></h2>

{# TODO: Replace this with bar-graph instead of constructing a graph using table #}
<p>Last {{project.recent_activity|length}} weeks</p>

<table class="noborders">
    <tr>
        {% for (commits, height) in project.recent_activity %}
        <td style="text-align: center; vertical-align: bottom">{{commits}}<div style="display: block; background-color: red; width: 20px; height: {{height}}px"></div></td>
        {% endfor %}
    </tr>
    <tr>
        {% for i in range(project.recent_activity|length, 0, -1) %}
        <td>{{i}}</td>
        {% endfor %}
    </tr>
</table>


 <div class="row">
  <div class="column">
    <h2 id="hour_weekday_activity"><a href="#hour_weekday_activity">Hour-Weekday activity</a></h2>
    <table>
        <tr>
            <th>Hour</th>
            {% for i in range(24) %}
            <th>{{i}}</th>
            {% endfor %}
        </tr>
        <tr>
            <th>Commits</th>
            {% for activity in project.hourly_activity %}
                {% if activity.commits_count > 0 %}
                <td style="background-color: rgb({{activity.intensity}}, 0, 0)">{{activity.commits_count}}</td>
                {% else %}
                <td>0</td>
                {% endif %}
            {% endfor %}
        </tr>
        <tr>
            <th>%</th>
            {% for activity in project.hourly_activity %}
                {% if activity.commits_count > 0 %}
                <td style="background-color: rgb({{activity.intensity}}, 0, 0)">{{'%0.2f'| format(activity.relative_commits_count|float)}}</td>
                {% else %}
                <td>0.00</td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>

    <table>

        <tr><th>Weekday</th>
            {% for i in range(24) %}
            <th>{{i}}</th>
            {% endfor %}
        </tr>
        {% for weekday in project.weekday_hourly_activity %}
        <tr>
            <th>{{weekday}}</th>
            {% for intensity, commits_count in project.weekday_hourly_activity[weekday] %}
                {% if commits_count > 0 %}
                <td style="background-color: rgb({{intensity}}, 0, 0)">{{commits_count}}</td>
                {% else %}
                <td>0</td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
    </table>
      {# TODO: vertical weekday activity table to the right of weekday-hour activity #}
  </div>

  <div class="column">
      <h2 id="commits_by_timezone"><a href="#commits_by_timezone">Commits by Timezone</a></h2>
    <table>
        <tr><th>Timezone</th><th>Commits</th></tr>
        {% for timezone, intensity, commits_count in project.timezones_activity %}
            <tr><th>{{timezone}}</th>
            {% if commits_count > 0 %}
            <td style="background-color: rgb({{intensity}}, 0, 0)">{{commits_count}}</td>
            {% else %}
            <td></td>
            {% endif %}
            </tr>
        {% endfor %}
    </table>
  </div>
</div>

<h2 id="month_of_year"><a href="#month_of_year">Month in a Year activity</a></h2>
<img src="month_of_year.png" alt="Month in a Year activity">

{# TODO: next two graphs are supposed to be merged in one #}
<h2 id="commits_by_year/month"><a href="#commits_by_year/month">Commits by year/month</a></h2>
<img src="commits_by_year_month.png" alt="Commits by year/month">

<h2 id="commits_by_year"><a href="#commits_by_year">Commits by Year</a></h2>
<img src="commits_by_year.png" alt="Commits by Year">

{% endblock %}