{% extends "base.html" %}

{% block content %}
<h2 id="recent_activity"><a href="#recent_activity">Recent activity</a></h2>
{# TODO: Print message instead of empty graph if no recent activity in repo #}
<img src="recent_activity.png" alt="Recent activity graph">

<h2 id="total_activity"><a href="#total_activity">Total Activity</a></h2>
<img src="total_activity.png" alt="total_activity">

 <div class="row">
  <div class="column">
    <h2 id="hour_weekday_activity"><a href="#hour_weekday_activity">Hour-Weekday activity</a></h2>
    <table>
        <tr>
            <th>Hour</th>
            {% for i in range(24) %}
            <th>{{i}}</th>
            {% endfor %}
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>Commits</th>
            {% for activity in project.hourly_activity %}
                {% if activity.commits_count > 0 %}
                <td style="background-color: rgb({{activity.intensity}}, 0, 0)">{{activity.commits_count}}</td>
                {% else %}
                <td>0</td>
                {% endif %}
            {% endfor %}
            <th></th>
            <th></th>
        </tr>
        <tr>
            <th>%</th>
            {% for activity in project.hourly_activity %}
                {% if activity.commits_count > 0 %}
                <td style="background-color: rgb({{activity.intensity}}, 0, 0)">{{'%0.2f'| format(activity.relative_commits_count|float)}}</td>
                {% else %}
                <td>0.00</td>
                {% endif %}
            {% endfor %}
            <th></th>
            <th>Total</th>
        </tr>

        <tr>
            <th>Weekday/Hour</th>
            {% for i in range(24) %}
            <th>{{i}}</th>
            {% endfor %}
            <th></th>
            <th style="word-wrap: break-word">by weekday</th>
        </tr>
        {% for weekday in project.weekday_hourly_activity %}
        <tr>
            <th>{{weekday}}</th>
            {% for intensity, commits_count in project.weekday_hourly_activity[weekday] %}
                {% if commits_count > 0 %}
                <td style="background-color: rgb({{intensity}}, 0, 0)">{{commits_count}}</td>
                {% else %}
                <td>0</td>
                {% endif %}
            {% endfor %}
            <td></td>
            {% set intensity, commits_count = project.weekday_activity[weekday] %}
            <td style="background-color: rgb({{intensity}}, 0, 0)">{{commits_count}}</td>
        </tr>
        {% endfor %}
    </table>
  </div>

    <h2 id="month_of_year"><a href="#month_of_year">Commits by Month of Year</a></h2>
     <table>
        <tr>
            <th>Month</th>
            {% for imonth in range(1, 13) %}
                <th>{{imonth|to_month_name_abr}}</th>
            {% endfor %}
        </tr>
        <tr>
            <th>Commits</th>
            {% set max_commits_count = project.month_in_year_activity.values() | max %}
            {% for imonth in range(1, 13) %}
                {% set commits_count = project.month_in_year_activity.get(imonth, 0) %}
                {% if commits_count > 0 %}
                    {% set red_intensity = 127 + (((commits_count) / max_commits_count) * 128) | int %}
                    <td style="background-color: rgb({{red_intensity}}, 0, 0)">{{commits_count}}</td>
                {% else %}
                    <td></td>
                {% endif %}
            {% endfor %}
        </tr>
     </table>

   <div class="column">
      <h2 id="commits_by_timezone"><a href="#commits_by_timezone">Commits by Timezone</a></h2>
    <table>
        <tr>
            <th>Timezone</th>
            {% for timezone, _, _ in project.timezones_activity %}
            <th>{{timezone}}</th>
            {% endfor %}
        </tr>
        <tr>
            <th>Commits</th>
            {% for _, intensity, commits_count in project.timezones_activity %}
                {% if commits_count > 0 %}
                <td style="background-color: rgb({{intensity}}, 0, 0)">{{commits_count}}</td>
                {% else %}
                <td></td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
  </div>
</div>

{% endblock %}